<div id="child-view">
    <table>
        <thead>
            <tr>
                <th colspan="5">Current Course Selection</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <b>Course Code</b>
                </td>
                <td>
                    <b>Course Name</b>
                </td>
                <td>
                    <b>Section</b>
                </td>
                <td>
                    <b>Year</b>
                </td>
                <td>
                    <b>Term</b>
                </td>
            </tr>
            <tr>
                <td id="course-code"></td>
                <td id="course-name"></td>
                <td id="section-number"></td>
                <td id="section-year"></td>
                <td id="section-term"></td>
            </tr>
        </tbody>
    </table>

    <br/>

    <table>
        <thead>
            <tr>
                <th>Course Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="course-description"></td>
            </tr>
        </tbody>
    </table>

    <br/>

    <form action="javascript:submit();">
        <div>
            <select id="clo-hook">
                <option hidden value="default" selected>- Select a Course Learning Objective -</option>
            </select>
            <div id="artifact-hook"></div>
        </div>

        <br/>

        <table>
            <thead>
                <tr>
                    <th colspan="6">Grade Distribution</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <b>A</b>
                    </td>
                    <td>
                        <b>B</b>
                    </td>
                    <td>
                        <b>C</b>
                    </td>
                    <td>
                        <b>D</b>
                    </td>
                    <td>
                        <b>F</b>
                    </td>
                    <td>
                        <b>X</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="grade">
                    </td>
                    <td>
                        <input type="text" class="grade">
                    </td>
                    <td>
                        <input type="text" class="grade">
                    </td>
                    <td>
                        <input type="text" class="grade">
                    </td>
                    <td>
                        <input type="text" class="grade">
                    </td>
                    <td>
                        <input type="text" class="grade">
                    </td>
                </tr>
            </tbody>
        </table>

        <br/>

        <div>
            <label>Modifications Made to Course</label>
            <br/>
            <textarea id="modifications"></textarea>
        </div>

        <br/>

        <div>
            <label>Reflection</label> 
            <br/>
            <textarea id="reflection"></textarea>
        </div>

        <br/>

        <div>
            <label>Student Feedback</label>
            <br/>
            <textarea id="feedback"></textarea>
        </div>

        <br/>

        <div>
            <label>Proposed Actions for Course Imporvement</label>
            <br/>
            <textarea id="improvement"></textarea>
        </div>

        <div>
            <input type="file" style="width:100%;" id="file" onchange="fileUpload(value)">
        </div>

        <button>Submit</button>
    </form>
</div>



<div id="clo-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
        </div>
        <table class="underspace">
            <thead>
                <tr>
                    <th>Course Learning Outcome Code</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="clo-code"></td>
                </tr>
            </tbody>
        </table>
        <table class="underspace">
            <thead>
                <tr>
                    <th>Course Learning Outcome Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="clo-description"></td>
                </tr>
            </tbody>
        </table>

        <br/>

        <form id="clo-form" action="">
            <input hidden id="clo-id" name="clo-id">
            <select style="width:100%;" name="measure" class="underspace">
                <option>- Select Measure -</option>
                <option>Exam</option>
                <option>Rubric</option>
                <option>Project</option>
                <option>Presentation</option>
                <option>Project Assignment</option>
                <option>Homework Assignment</option>
                <option>Quiz</option>
                <option>Other</option>
            </select>

            <br/>

            <textarea name="comments" placeholder="- Comments - " class="underspace"></textarea>

            <br/>

            <input name="exemplary" type="text" placeholder="- Exemplary -" class="underspace">

            <br/>

            <input name="good" type="text" placeholder="- Good -" class="underspace">

            <br/>

            <input name="satisfactory" type="text" placeholder="- Satisfactory -" class="underspace">

            <br/>

            <input name="poor" type="text" placeholder="- Poor -" class="underspace">

            <br/>

            <input name="unsatisfactory" type="text" placeholder="- Unsatisfactory -" class="underspace">

            <br/>

            <button style="display:none;" id="delete" type="button">Delete</button>

            <button>Save</button>
        </form>
        <div class="modal-footer">
        </div>
    </div>
</div>