<div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
            </div>
            <div id="go-back">
                <a href="#" class="peo-record" id="copycat">Student Outcome</a> <span class='sunlight undercover'>&#x2192; <a href="#">Course Learning Outcome</a></span> <span class='moonlight undercover'>&#x2192; Measure</span>
            </div>
            <div>
                <table>
                    <thead>
                        <tr class="sunlight">
                            <th>
                                Student Outcome
                            </th>
                            <th>
                                Exemplary
                            </th>
                            <th>
                                Satisfactory
                            </th>
                            <th>
                                Unsatisfactory
                            </th>
                        </tr>
                        <tr class="sunlight moonlight undercover">
                            <th>
                                Course Learning Outcome
                            </th>
                            <th>
                                Course
                            </th>
                            <th>
                                Section
                            </th>
                            <th>
                                Exemplary
                            </th>
                            <th>
                                Satisfactory
                            </th>
                            <th>
                                Unsatisfactory
                            </th>
                        </tr>
                        <tr class="moonlight undercover">
                            <th>
                                Measure
                            </th>
                            <th>
                                Comment
                            </th>
                            <th>
                                Exemplary
                            </th>
                            <th>
                                Satisfactory
                            </th>
                            <th>
                                Unsatisfactory
                            </th>
                        </tr>
                    </thead>
                    <tbody id="measuresHook">
                        
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>    
    </div>
    
    