<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>
                            Student Outcome
                        </th>
                        <th>
                            Course
                        </th>
                        <th>
                            Section
                        </th>
                        <th>
                            Exemplary
                        </th>
                        <th>
                            Satisfactory
                        </th>
                        <th>
                            Unsatisfactory
                        </th>
                    </tr>
                </thead>
                <tbody id="measuresHook">
                    
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
        </div>
    </div>    
</div>

